/* doi-phong.css */


/* --- Tiêu đề trang (Đổi phòng) --- */
.header-title {
    -fx-font-weight: bold;
    -fx-font-size: 26px;
    -fx-text-fill: #1C315E;
    /* Màu xanh navy đậm */
    -fx-padding: 10px 0 0 0;
}

.header-icon {
    -fx-fit-height: 40;
    -fx-fit-width: 40;
}

/* --- Tiêu đề các phần (Thông tin đổi phòng, Danh sách phòng trống) --- */
.section-heading {
    -fx-font-weight: 700;
    -fx-font-size: 24px;
    -fx-text-fill: #1C315E;
    -fx-padding: 30px 0 15px 0;
    -fx-alignment: center;
    /* CĂN GIỮA NỘI DUNG LABEL */
}

/* --- HBox chứa input --- */
.input-row {
    -fx-alignment: CENTER;
    /* CĂN GIỮA TOÀN BỘ HBOX */
    -fx-spacing: 20px;
}

/* --- Label mô tả input --- */
.input-label {
    -fx-font-size: 16px;
    -fx-text-fill: #555555;
    -fx-pref-width: 140px;
    /* CỐ ĐỊNH CHIỀU RỘNG LABEL */
    -fx-font-weight: 500;
    -fx-padding: 0px 0px 20px 0px
}

/* --- TableView --- */
.table-view {
    -fx-border-color: #bdc3c7;
    -fx-border-width: 1px;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 0);
}

/* Refresh button */
.refresh-button {
    -fx-background-color: #198754;
    -fx-text-fill: white;
}

